body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

form {
    margin: 2%;
    text-align: center;
}

header {
    padding: 3%;
    background-color: black;
}

table, th, td {
    border: 2px solid white;
}

th, td {
    padding: 20px;
}

/* Separating element names from classes. */

.block {
    display: block;
}

/* For testing purposes */

.border {
    border: 2px dotted purple;
}

.center {
    margin: 0 auto;
}

.collapse {
    border-collapse: collapse;
}

.error-message {
    color: red;
}

.flex-container {
    display: flex;
}

.hidden {
    display: none;
}

.no-underline {
    text-decoration: none;
}

.spaced {
    align-items: space-between;
}

.sticky {
    position: sticky;
    top: 0;
}